.App {
  text-align: center;
}

.form-inline {
  display: flex;
}

.form-control {
  margin-right: 10px;
}

.hero-img {
  /* width: 98vw;
  height: 92vh; */
  width: 100vw;
  height: 90vh;
}

.box {
  position: relative;
  display: inline-block;
  /* Make the width of box same as image */
}

.box .welcome-text {
  border-radius: 25px;
  color: #0dcaf0;
  position: absolute;
  z-index: 999;
  margin: 0 auto;
  left: 100px;
  /* right: 0; */
  text-align: center;
  top: 18%;
  /* Adjust this value to move the positioned div up and down */
  background: rgba(0, 0, 0, 0.6);
  font-family: Arial, sans-serif;
  color: #fff;
  width: 44%;
  /* Set the width of the positioned div */
}

h1 {
  color: #0dcaf0;
  font-family: bold;
}

.description-text {
  border-radius: 25px;
  position: absolute;
  z-index: 999;
  margin: 0 auto;
  left: 100px;
  /* right: 0; */
  text-align: center;
  /* Adjust this value to move the positioned div up and down */
  top: 40%;
  background: rgba(0, 0, 0, 0.6);
  font-family: Arial, sans-serif;
  color: #fff;
  /* Set the width of the positioned div */
  width: 52%;
}

h4 {
  padding: 20px;
}

.welcome-logo {
  position: absolute;
  z-index: 999;
  margin: 0 auto;
  /* left: 830px; */
  left: 52%;
  /* right: 0; */
  text-align: center;
  /* Adjust this value to move the positioned div up and down */
  top: 14%;
  /* Set the width of the positioned div */
  width: 13%;
}

.welcome-mac {
  position: absolute;
  z-index: 999;
  margin: 0 auto;
  left: 60%;
  /* right: 0; */
  text-align: center;
  /* Adjust this value to move the positioned div up and down */
  top: 15%;
  /* Set the width of the positioned div */
  width: 35%;
}